@import 'tailwindcss';

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: '0deg';
}

@theme {
  --color-pry: #fff;
  --font-popppins: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
